body {
	background: fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
canvas {
	/* background: linear-gradient(0deg, whitesmoke, gray); */
	background: transparent;
	border: 2px solid black;
	border-bottom: none;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.container_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
}
