body {
	background: url(./background.png) repeat center center fixed;
	/* background-size: contain; */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* #region GAME */
.game {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.game.-gameover {
	filter: blur(4px);
}
.game-canvas {
	width: 90%;
	height: 75%;
	margin: auto;
	background: #fff5;
	border: 2px solid #bd5858;
	border-bottom: none;
}
.game-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4px;
}
/* #endregion */

button {
	cursor: pointer;
	background: #fff;
	padding: 12px 24px;
	border: 2px solid #bd5858;
	color: #bd5858;
}

.gameover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #fff5;

	display: flex;
	justify-content: center;
	align-items: center;
}

.gameover-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
.gameover-container > p strong {
	font-size: 2rem;
	font-weight: bold;
}
.gameover-container > p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.gameover-container__title {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 12px;
	text-align: center;
	text-shadow: 0px 0px 12px white;
}

.gameover.-gameover {
	/* background: linear-gradient(0deg, #f005, #fff5, transparent); */
	background: linear-gradient(0deg, #fff, #fff5, transparent);
}
.gameover.-win {
	/* background-color: linear-gradient(0deg, #0805, white, transparent); */
	background: linear-gradient(0deg, #fff, #fff5, transparent);
}

.gameover.-gameover .gameover-container__title {
	color: red;
}

.gameover.-win .gameover-container__title {
	color: green;
}

/* @media screen and (max-width: 640px) {
	body {
		background-color: green;
	}
} */

/* @media screen and (min-width: 640px) {
	body {
		background-color: #f003;
	}
} */
